#IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
env/
ENV/
venv/
.venv/

# Distribution
build/
dist/
*.egg-info/

# Logs and temp
*.log
*.tmp

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
*.key